/* Layout.scss */

nav[role="navigation"] {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

header[role="banner"], main[role="main"] {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0 auto;
        max-width: 1024px;
        width: 100%;
    }
  
    header[role="banner"], main[role="main"] {
        max-width: 1024px;   
    }
    nav[role="navigation"] {
        position: static;
        width: 100%;
    }
    header[role="banner"] {
        box-sizing: border-box;
        float: left;
        padding-right: 20px;
        width: 40%;  
    }
    main[role="main"] {
        float: right;
        width: 60%;  
    }
    footer[role="contentinfo"] {
        float: left;   
    }
}

.food, .museumes {
    margin-bottom: em(60px);
}